html {
	min-width: 960px;
}

body {
	background-image: url("img/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
	background-attachment: scroll;
	width: 960px;
	height: 720px;
	margin-left: auto;
	margin-right: auto;
}

#game {
	position: relative;
	width: 960px;
	height: 720px;
	margin-left: auto;
	margin-right: auto;
}

.hand {
	position: absolute;
	width: 110px;
	height: 110px;
	background-repeat: no-repeat;
	backgroud-postion-y: center;
	top: 300px;
	left: 0px;
}

.hand.enemy {
	-webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
    left: 900px;
}

#score_div {
	color: white;
	font-family: sans-serif;
	position: absolute;
	top: 30px;
	font-size: large;
}
#score {
	font-size: xx-large;
}

.gain {
	font-size: 30px;
	position: absolute;
	bottom: 100px;
	left: 30px;
	font-family: 'sans-serif';
	color: white;
	text-shadow: 0px 5px 5px black;
}

#title {
	color: ghostwhite;
	font-family: 'Concert One', cursive;
	text-shadow: 1px 1px 3px red;
	width: 100%;
	background-color: black;
	text-align: center;
	position: absolute;
	top: 240px;
	cursor: pointer;
	box-shadow: 0px 0px 10px 10px black;
	overflow: hidden;
	white-space: nowrap;
}

#janken_shooting {
	font-size: 60px;
	margin-top: 20px;
	margin-bottom: 50px;
}

#click_to_start {
	font-size: 30px;
	margin-bottom: 20px;
}

#help {
	cursor: pointer;
	color: white;
	position: absolute;
	top: 20px;
	right: 50px;
	font-size: 40px;
	width: 50px;
	height: 50px;
}
#help:hover {
	color: gray;
}
#dialog {
	font-size: small;
}
#key_change {
	margin-left: 65%;
}
#mute {
	cursor: pointer;
	color: white;
	position: absolute;
	top: 20px;
	right: 130px;
	font-size: 35px;
	width: 50px;
	height: 50px;
}
#mute:hover {
	color: gray;
}

#shot_button_div {
	position: relative;
	top: 470px;
	left: 150px;
}
.shot_button {
    position: absolute;
	width: 130px;
	height: 130px;
    cursor: pointer;
    background-repeat: no-repeat;
}
#shot_gu {
	background-image: url("img/gu_button.png");
}
//#shot_gu:hover {
//	background-image: url("img/gu_button_hover.png");
//}
#shot_tyoki {
	left: 185px;
	background-image: url("img/tyoki_button.png");
}
#shot_tyoki:hover {
	background-image: url("img/tyoki_button_hover.png");
}
#shot_pa {
	left: 370px;
	background-image: url("img/pa_button.png");
}
#shot_pa:hover {
	background-image: url("img/pa_button_hover.png");
}
#breakout {
	left: 545px;
	background-image: url("img/breakout_button.png");
}
#breakout:hover  {
	background-image: url("img/breakout_button_hover.png");
}